 <!-- Auth footer-->
<footer class="p-4">
    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between small">
        <div class="me-sm-3 mb-2 mb-sm-0"><div class="fw-500 text-white">Copyright &copy; @AppConfig.AppName @DateTime.Now.Year</div></div>
        <div class="ms-sm-3">
            <a class="fw-500 text-decoration-none link-white" href="#!">Privacy</a>
            <a class="fw-500 text-decoration-none link-white mx-4" href="#!">Terms</a>
            <a class="fw-500 text-decoration-none link-white" href="#!">Help</a>
        </div>
    </div>
</footer>
@code {

}
