@using Microsoft.AspNetCore.Components.Web
@namespace MaterialBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Material Blazor" />
    <meta name="author" content="Mif" />
    <title>Blazor - Material Admin Pro</title>

    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link href="css/site.css" rel="stylesheet" />
    <link href="MaterialBlazor.styles.css" rel="stylesheet" />

    <!-- Load Favicon-->
    <link href="assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Load Material Icons from Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <!-- Load Simple DataTables Stylesheet-->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <!-- Load Litepicker stylesheet-->
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/style.css" rel="stylesheet" />

    <!-- Roboto and Roboto Mono fonts from Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500" rel="stylesheet" />
    <!-- Load main stylesheet-->
    <link href="css/styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />


</head>
<body>

    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <!-- Load Bootstrap JS bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <!-- Load global scripts-->
    <script type="module" src="js/material.js"></script>
    <script src="js/scripts.js"></script>

    <!-- Load Chart.js via CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.0-beta.10/chart.min.js" crossorigin="anonymous"></script>
    <!-- Load Chart.js customized defaults-->
    <script src="js/charts/chart-defaults.js"></script>

    <!-- Load chart demos for this page-->
    <script src="js/charts/demos/dashboard-chart-area-light-demo.js"></script>
    <script src="js/charts/demos/chart-pie-demo.js"></script>
    <script src="js/charts/demos/dashboard-chart-area-demo.js"></script>
    <script src="js/charts/demos/dashboard-chart-bar-horizontal-demo.js"></script>
    <script src="js/charts/demos/dashboard-chart-bar-grouped-demo.js"></script>

    <!-- Load demo line charts-->
    <script src="js/charts/demos/chart-line-demo.js"></script>
    <script src="js/charts/demos/chart-line-smooth-demo.js"></script>
    <!-- Load demo area charts-->
    <script src="js/charts/demos/chart-area-demo.js"></script>
    <script src="js/charts/demos/chart-area-smooth-demo.js"></script>
    <!-- Load demo bar charts-->
    <script src="js/charts/demos/chart-bar-demo.js"></script>
    <script src="js/charts/demos/chart-bar-grouped-demo.js"></script>
    <script src="js/charts/demos/chart-bar-horizontal-demo.js"></script>
    <script src="js/charts/demos/chart-bar-grouped-horizontal-demo.js"></script>
    <!-- Load demo pie and doughnut charts-->
    <script src="js/charts/demos/chart-doughnut-demo.js"></script>

    <!-- Load Simple DataTables Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables/datatables-simple-demo.js"></script>

    <!-- Load Litepicker plugin scripts-->
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.nocss.js" crossorigin="anonymous"></script>
    <script src="js/litepicker.js"></script>

    <!-- Load Custom Checkbox Script-->
    <script src="js/widgets/checklist.js"></script>

    <!-- Load Prism plugin scripts-->
    <script src="/js/prism.js"></script>
</body>
</html>
