@page "/layout/layout-dark"
@layout MainLayoutDark
@inject IJSRuntime JS
<PageTitle>Layout Dark</PageTitle> 
  
<div class="container-xl px-5">
                        <h1 class="page-header text-white mt-5 mb-4">Dark Theme</h1>
                        <!-- Static layout example card-->
                        <div class="card card-raised bg-primary text-white mb-4">
                            <div class="card-body p-4"><p class="mb-0">This page is an example of a dark layout. By using the dark styling for the drawer navigation along with other utility classes throughout the page, the dark styling can be applied.</p></div>
                        </div>
                    </div>
@code {

}
