@page "/layout/layout-light"
@inject IJSRuntime JS
<PageTitle>Layout Light</PageTitle> 
@layout MainLayoutLight
<div class="container-xl px-5">
                        <h1 class="page-header mt-5 mb-4">Light Theme</h1>
                        <!-- Static layout example card-->
                        <div class="card mb-4">
                            <div class="card-body p-4"><p class="mb-0">By adjusting the body background, drawer, and app bar classes, a light theme can be applied.</p></div>
                        </div>
                    </div>
@code {

}
