@page "/content/content-icons"
@inject IJSRuntime JS
<PageTitle>Content Icons</PageTitle> 
  

<div class="container-xl px-5">
                        <div class="d-flex mt-10 mb-4 align-items-center">
                            <img class="me-4" src="assets/img/icons/icons.svg" alt="..." style="height: 48px" />
                            <h1 class="page-header mb-0">Icons</h1>
                        </div>
                        <div class="row gx-5">
                            <div class="col-lg-9">
                                <p>Since Bootstrap does not include icons by default, Material Admin Pro predominantly uses the Material icons library, created by Google, to add beautifully crafted symbols for common actions and items.</p>
                                <hr class="my-5" />
                                <h2 class="mb-4" id="material-icons">Material Icons</h2>
                                <img class="img-fluid border" src="/assets/demo/material-icons.png" title="Material Icons by Google" alt="Material Icons by Google" />
                                <div class="mb-4"><small class="fst-italic">Material Icons by Google</small></div>
                                <p>
                                    By using the icon font, there are
                                    <strong>over 900 Material icons</strong>
                                    available to choose from
                                    <strong>in five different styles.</strong>
                                    All five styles have been activated by default, but we recommend that you deactivate the icon font styles that are not being used when moving an app into production.
                                </p>
                                <p class="mb-4">
                                    Below are some examples of the different icon fonts being used. For a full list of available icons, visit the
                                    <a href="https://material.io/resources/icons/" target="_blank">Material icons</a>
                                    reference page.
                                </p>
                                <a class="btn btn-primary btn-raised" href="https://material.io/resources/icons/" target="_blank">
                                    Launch Material Icons
                                    <i class="material-icons trailing-icon">launch</i>
                                </a>
                                <hr class="my-5" />
                                <h2 class="mb-4" id="variations">Variations</h2>
                                <p>
                                    Each Material icon style has it's own unique class, which should be used with the
                                    <code class="code-inline">&lt;i&gt;</code>
                                    or
                                    <code class="code-inline">&lt;span&gt;</code>
                                    element.
                                </p>
                                <p class="mb-4">
                                    Material icons use a typographic feature called ligatures, which allows rendering of an icon glyph simply by using its textual name. Visit
                                    <a href="https://material.io/resources/icons/" target="_blank">Material icons</a>
                                    for a list of all available icons.
                                </p>
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Style</th>
                                            <th scope="col">Class</th>
                                            <th scope="col">Example</th>
                                            <th scope="col">Rendering</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle">Filled</td>
                                            <td class="align-middle"><code class="code-inline">.material-icons</code></td>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Outlined</td>
                                            <td class="align-middle"><code class="code-inline">.material-icons-outlined</code></td>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons-outlined"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons-outlined">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Rounded</td>
                                            <td class="align-middle"><code class="code-inline">.material-icons-round</code></td>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons-round"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons-round">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Two-Tone</td>
                                            <td class="align-middle"><code class="code-inline">.material-icons-two-tone</code></td>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons-two-tone"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons-two-tone">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Sharp</td>
                                            <td class="align-middle"><code class="code-inline">.material-icons-sharp</code></td>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons-sharp"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons-sharp">face</i></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr class="my-5" />
                                <h2 class="mb-4" id="sizing">Sizing</h2>
                                <p class="mb-4">
                                    Four sizing variations are available in addition to the default. These classes named using the format
                                    <code class="code-inline">.icon-{size}</code>
                                    where
                                    <em>size</em>
                                    is any size between xs and xxl.
                                </p>
                                <table class="table table-bordered mb-4">
                                    <thead>
                                        <tr>
                                            <th scope="col">Example</th>
                                            <th scope="col">Size</th>
                                            <th scope="col">Rendering</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons icon-xs"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">12px</td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons icon-xs">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons icon-sm"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">18px</td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons icon-sm">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">24px</td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons icon-lg"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">36px</td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons icon-lg">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons icon-xl"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">48px</td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons icon-xl">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons icon-xxl"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">60px</td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons icon-xxl">face</i></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="mb-4">
                                    Since Material icons are utilized as an icon font, the
                                    <code class="code-inline">font-size</code>
                                    CSS property can be used to create additional custom sizes.
                                </p>
                                <hr class="my-5" />
                                <h2 class="mb-4" id="color">Color</h2>
                                <p class="mb-4">
                                    Use the
                                    <a href="utilities-text.html">text utilities</a>
                                    included with Material Admin Pro to style the color of icons.
                                </p>
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Example</th>
                                            <th scope="col">Rendering</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons text-primary"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons text-primary">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons text-secondary"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons text-secondary">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons text-success"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons text-success">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons text-danger"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons text-danger">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons text-info"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons text-info">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons text-muted"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons text-muted">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons text-warning"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle table-dark">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons text-warning">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons text-light"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle table-dark">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons text-light">face</i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><code class="code-inline">&lt;i class="material-icons text-white"&gt;face&lt;/i&gt;</code></td>
                                            <td class="align-middle table-dark">
                                                <div class="d-flex align-items-center justify-content-center"><i class="material-icons text-white">face</i></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr class="my-5" />
                                <h2 class="mb-4" id="extending">Extending</h2>
                                <p>
                                    Visit the
                                    <a href="https://google.github.io/material-design-icons/" target="_blank">Material Icons Guide</a>
                                    for more information on how to work with and extend the Material Icons.
                                </p>
                                <p class="mb-4">
                                    Alternative icon fonts are available to use with Material Admin Pro as well. The
                                    <a href="#DOCS_LINK">icons documentation</a>
                                    for this product contains more information on how to integrate other icon libraries into this project.
                                </p>
                                <hr class="my-5" />
                                <h3 class="overline">Related Links</h3>
                                <div class="row">
                                    <div class="col-md-4 col-lg-6 col-xxl-4">
                                        <div class="card card-quick-link card-raised ripple-gray">
                                            <div class="card-body">
                                                <img class="card-quick-link-img" src="assets/img/brands/material-design.svg" alt="Material Icons" />
                                                <div class="card-title text-truncate mb-2">Material Icons</div>
                                                <p class="card-text">Material's library of beautifully crafted symbols and icons</p>
                                            </div>
                                            <div class="card-actions">
                                                <a class="card-link text-muted text-decoration-none stretched-link" href="https://material.io/resources/icons/?style=baseline" target="_blank" title="Material Icons">Related Link</a>
                                                <i class="material-icons text-muted rotate-45">arrow_upward</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5"></div>
                            </div>
                            <div class="col-lg-3 mb-5 mb-lg-0">
                                <div class="sticky-top nav-stick">
                                    <div class="nav-heading">Contents</div>
                                    <ul class="nav flex-column" id="navStick">
                                        <li class="nav-item"><a class="nav-link" href="#material-icons">Material Icons</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#variations">Variations</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#sizing">Sizing</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#color">Color</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#extending">Extending</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
@code {

}
