@page "/other/blank-page"
@inject IJSRuntime JS
<PageTitle>Blank Page</PageTitle>
<!-- Page header-->
                    <header class="bg-dark">
                        <div class="container-xl px-5"><h1 class="text-white py-3 mb-0 display-6">Blank Page</h1></div>
                    </header>
                    <div class="container-xl p-5">
                        <div class="card card-raised">
                            <div class="card-body text-center p-5">
                                <img class="img-fluid mb-5" src="assets/img/illustrations/create.svg" alt="..." style="max-width: 20rem" />
                                <div class="display-6">It looks like there's nothing here.</div>
                                <p class="card-text">Use this blank page to start creating pages within your app!</p>
                            </div>
                        </div>
                    </div>
@code {

}
