@page "/plugins/datepicker"
@inject IJSRuntime JS
<PageTitle>Date Picker</PageTitle>  

  <div class="container-xl px-5">
                        <div class="d-flex mt-10 mb-4 align-items-center">
                            <img class="me-4" src="assets/img/icons/datepicker.svg" alt="..." style="height: 48px" />
                            <h1 class="page-header mb-0">Date Picker</h1>
                        </div>
                        <div class="row gx-5">
                            <div class="col-lg-9">
                                <p>
                                    Material Admin Pro uses a third party plugin to handle the functionality for the date picker element.
                                    <a href="https://litepicker.com/" target="_blank">Litepicker</a>
                                    is a lightweight date range picker plugin with no dependencies, meaning it will integrate well with any framework.
                                </p>
                                <hr class="my-5" />
                                <h2 class="mb-4" id="single-date">Single Date Example</h2>
                                <p class="mb-4">
                                    The single date example is the most basic implementation of Litepicker. Keep in mind that JavaScript is required to implement the date picker, which you can read more about on
                                    <a href="https://litepicker.com/" target="_blank">Litepicker's documentation</a>
                                    page.
                                </p>
                                <mwc-tab-bar class="nav nav-tabs" role="tablist">
                                    <mwc-tab label="demo" data-bs-toggle="tab" role="tab" aria-selected="true" id="singleDateDemoTab" data-bs-target="#singleDateDemo" aria-controls="singleDateDemo"></mwc-tab>
                                    <mwc-tab label="html" data-bs-toggle="tab" role="tab" aria-selected="false" id="singleDateHtmlTab" data-bs-target="#singleDateHtml" aria-controls="singleDateHtml"></mwc-tab>
                                    <mwc-tab label="pug" data-bs-toggle="tab" data-bs-target="#singleDatePug" role="tab" aria-controls="singleDatePug" aria-selected="false" id="singleDatePugTab"></mwc-tab>
                                </mwc-tab-bar>
                                <div class="tab-content mb-5">
                                    <div class="tab-pane show active" role="tabpanel" id="singleDateDemo" aria-labelledby="singleDateDemoTab">
                                        <div class="d-flex justify-content-center border border-top-0 p-3 p-sm-5 bg-light">
                                            <div class="w-100" style="max-width: 21.875rem">
                                                <label class="form-label" for="litepickerSingleDate">Date:</label>
                                                <input class="form-control" id="litepickerSingleDate" placeholder="Select a date..." />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="singleDateHtml" aria-labelledby="singleDateHtmlTab">
                                        <div class="d-flex justify-content-start border border-top-0 bg-light p-3 p-sm-4">
                                            <pre class="language-html m-0"><code><label class="form-label" for="litepickerSingleDate">Date:</label>
<input class="form-control" id="litepickerSingleDate" placeholder="Select a date..."></code></pre>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="singleDatePug" aria-labelledby="singleDatePugTab">
                                        <div class="d-flex justify-content-start border border-top-0 bg-light p-3 p-sm-4">
                                            <pre class="language-pug m-0"><code>label.form-label(for='litepickerSingleDate') Date:
input.form-control#litepickerSingleDate(placeholder='Select a date...')
</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-5" />
                                <h2 class="mb-4" id="date-range">Date Range Example</h2>
                                <p class="mb-4">The simple date range opens a single month at a time in the date range picker dropdown, allowing users to select a range of dates rather than a single one.</p>
                                <mwc-tab-bar class="nav nav-tabs" role="tablist">
                                    <mwc-tab label="demo" data-bs-toggle="tab" role="tab" aria-selected="true" id="dateRangeDemoTab" data-bs-target="#dateRangeDemo" aria-controls="dateRangeDemo"></mwc-tab>
                                    <mwc-tab label="html" data-bs-toggle="tab" role="tab" aria-selected="false" id="dateRangeHtmlTab" data-bs-target="#dateRangeHtml" aria-controls="dateRangeHtml"></mwc-tab>
                                    <mwc-tab label="pug" data-bs-toggle="tab" data-bs-target="#dateRangePug" role="tab" aria-controls="dateRangePug" aria-selected="false" id="dateRangePugTab"></mwc-tab>
                                </mwc-tab-bar>
                                <div class="tab-content mb-5">
                                    <div class="tab-pane show active" role="tabpanel" id="dateRangeDemo" aria-labelledby="dateRangeDemoTab">
                                        <div class="d-flex justify-content-center border border-top-0 p-3 p-sm-5 bg-light">
                                            <div class="w-100" style="max-width: 21.875rem">
                                                <label class="form-label" for="litepickerDateRange">Date range:</label>
                                                <input class="form-control" id="litepickerDateRange" placeholder="Select date range..." />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="dateRangeHtml" aria-labelledby="dateRangeHtmlTab">
                                        <div class="d-flex justify-content-start border border-top-0 bg-light p-3 p-sm-4">
                                            <pre class="language-html m-0"><code><label class="form-label" for="litepickerDateRange">Date range:</label>
<input class="form-control" id="litepickerDateRange" placeholder="Select date range..."></code></pre>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="dateRangePug" aria-labelledby="dateRangePugTab">
                                        <div class="d-flex justify-content-start border border-top-0 bg-light p-3 p-sm-4">
                                            <pre class="language-pug m-0"><code>label.form-label(for='litepickerDateRange') Date range:
input.form-control#litepickerDateRange(placeholder='Select date range...')
</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-5" />
                                <h2 class="mb-4" id="date-range-two-month">Two Month Range Example</h2>
                                <p class="mb-4">The number of months shown in the date range picker can be modified. The below example shows two months opening for easier selection of wider date ranges.</p>
                                <mwc-tab-bar class="nav nav-tabs" role="tablist">
                                    <mwc-tab label="demo" data-bs-toggle="tab" role="tab" aria-selected="true" id="dateRangeTwoMonthsDemoTab" data-bs-target="#dateRangeTwoMonthsDemo" aria-controls="dateRangeTwoMonthsDemo"></mwc-tab>
                                    <mwc-tab label="html" data-bs-toggle="tab" role="tab" aria-selected="false" id="dateRangeTwoMonthsHtmlTab" data-bs-target="#dateRangeTwoMonthsHtml" aria-controls="dateRangeTwoMonthsHtml"></mwc-tab>
                                    <mwc-tab label="pug" data-bs-toggle="tab" data-bs-target="#dateRangeTwoMonthsPug" role="tab" aria-controls="dateRangeTwoMonthsPug" aria-selected="false" id="dateRangeTwoMonthsPugTab"></mwc-tab>
                                </mwc-tab-bar>
                                <div class="tab-content mb-5">
                                    <div class="tab-pane show active" role="tabpanel" id="dateRangeTwoMonthsDemo" aria-labelledby="dateRangeTwoMonthsDemoTab">
                                        <div class="d-flex justify-content-center border border-top-0 p-3 p-sm-5 bg-light">
                                            <div class="w-100" style="max-width: 21.875rem">
                                                <label class="form-label" for="litepickerDateRange2Months">Date range:</label>
                                                <input class="form-control" id="litepickerDateRange2Months" placeholder="Select date range..." />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="dateRangeTwoMonthsHtml" aria-labelledby="dateRangeTwoMonthsHtmlTab">
                                        <div class="d-flex justify-content-start border border-top-0 bg-light p-3 p-sm-4">
                                            <pre class="language-html m-0"><code><label class="form-label" for="litepickerDateRange2Months">Date range:</label>
<input class="form-control" id="litepickerDateRange2Months" placeholder="Select date range..."></code></pre>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="dateRangeTwoMonthsPug" aria-labelledby="dateRangeTwoMonthsPugTab">
                                        <div class="d-flex justify-content-start border border-top-0 bg-light p-3 p-sm-4">
                                            <pre class="language-pug m-0"><code>label.form-label(for='litepickerDateRange2Months') Date range:
input.form-control#litepickerDateRange2Months(placeholder='Select date range...')
</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-5" />
                                <h3 class="overline">Related Links</h3>
                                <div class="row">
                                    <div class="col-md-4 col-lg-6 col-xxl-4">
                                        <div class="card card-quick-link card-raised ripple-gray">
                                            <div class="card-body">
                                                <img class="card-quick-link-img" src="assets/img/brands/litepicker.png" alt="Litepicker logo" />
                                                <div class="card-title text-truncate mb-2">Litepicker</div>
                                                <p class="card-text">A lightweight date range picker plugin with no dependencies</p>
                                            </div>
                                            <div class="card-actions">
                                                <a class="card-link text-muted text-decoration-none stretched-link" href="https://litepicker.com/" target="_blank" title="Litepicker Documentation">Related Link</a>
                                                <i class="material-icons text-muted rotate-45">arrow_upward</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5"></div>
                            </div>
                            <div class="col-lg-3 mb-5 mb-lg-0">
                                <div class="sticky-top nav-stick">
                                    <div class="nav-heading">Contents</div>
                                    <ul class="nav flex-column" id="navStick">
                                        <li class="nav-item"><a class="nav-link" href="#single-date">Single Date</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#date-range">Date Range</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#date-range-two-month">Two Month Range</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
@code {
      protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
          
            await JS.InvokeVoidAsync("LoadLitePicker");
            await JS.InvokeVoidAsync("LoadPrism");
          

        }
    }
}
